body {
  background-color: slategray;
}

form {
  margin-top: 5rem;
  margin-left: 5rem;
}

input {
  line-height: 2;
  width: 15rem;
}

/* I was able to do this in Duda too */
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: orangered;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: orangered;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: orangered;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: orangered;
}
